<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="https://10.198.200.52:5173/{R:1}" />
                </rule>
                <rule name="https" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://10.198.200.52:5173/{R:1}" redirectType="Found" />
                </rule>
                <rule name="reverse_admin" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="https://10.198.200.52:5174/{R:1}" />
                </rule>
                <rule name="https_admin" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://10.198.200.52:5174/{R:1}" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
